{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% block style %}
    
    {% endblock style %}
        
    <title>Document</title>
</head>
<body>
<header>
    <!-- Intro settings -->
    <style>
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 58px;
      }
      @media (max-width: 991px) {
        #intro {
          /* Margin to fix overlapping fixed navbar */
          margin-top: 45px;
        }
      }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="{% url 'home' %}">
          <h3>Abhay Babbar Blog</h3>
        </a>
        
        {% if request.user.is_authenticated %}
        <div class="ml-auto navbar-expand-md">
          <a class="btn btn-warning font-weight-bold text-capitalize" href="{% url 'user_blogs' %}">View your blog</a>
          <a class="btn btn-primary ml-2 font-weight-bold text-capitalize" href="{% url 'add_blog' %}">Add Blog</a>
          <a class="btn btn-danger ml-2 font-weight-bold text-capitalize" href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <a class="btn btn-primary ml-auto font-weight-bold" href="{% url 'login' %}">Login</a>
        {% endif %}
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  
  {% block content %}
      
  {% endblock content %}
      
  
  {% block footer %}
      
  <!--Footer-->
  <footer class="bg-light position-absolute container-fluid">    

    <!-- Copyright -->
    <div class="text-center p-3 text-white font-weight-bold" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white font-weight-bold" href="{% url 'home' %}">something.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->
  {% endblock footer %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>